$gap: 10px;
$timeline-width: 4px;
$outline-width: 2em;
$outline-gap: 1em;
$green: rgb(95, 153, 80);
$blue: rgb(83, 84, 234);
$yellow: rgb(229, 164, 112);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);