:root {
	--black: #111111;
	--gray: #777777;
	--dark-gray: #6e6e6e;
	--font-bold: 900;
	--gap: .8rem;
	--icon-size: 24px;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	color: #333;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 13px;
}

section {
	display: flex;
	flex-direction: column;
	flex: 1 1;
}

section > h1 {
	border-bottom: 1px var(--gray) solid;
	padding-bottom: calc(var(--gap) * .5);
	margin-bottom: 0;
}

p {
	margin-bottom: .5rem;
}

@page{
	size: A4 portrait;
	margin: 0.5cm;
}
