:root {
	--black: #111111;
	--gray: #777777;
	--dark-gray: #6e6e6e;
	--font-bold: 900;
	--gap: .8rem;
	--blue: rgb(81, 123, 181);
	--icon-size: 24px;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	color: #333;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 13px;
    /* https://stackoverflow.com/questions/3893986/css-media-print-issues-with-background-color */
	-webkit-print-color-adjust: exact !important;
}

section {
	display: flex;
	flex-direction: column;
}

section > h1 {
	color: var(--blue);
	border-bottom: 1px var(--blue) solid;
	padding-bottom: calc(var(--gap) * .5);
	margin-bottom: 0;
	margin-block-start: 0.68em;
}

p {
	margin-bottom: .5rem;
}

@page {
	size: A4 portrait;
	margin-bottom: 1cm;
}

@media print {
	body, html {
		font-size: 8px;
	}
}
