.education {
    display: grid;
    grid-template-areas: "name   date"
                         "degree degree";
    margin-bottom: var(--gap);
}

@media (max-width: 500px) {
    .education {
        grid-template-areas: "name"
                             "date"
                             "degree";
    }
}

.education > .degree {
    grid-area: degree;
    margin: 0;
}

.education > .name {
    grid-area: name;
    font-weight: var(--font-bold);
}

@media (max-width: 500px) {
    .education > .name {
        margin-bottom: 0;
    }
}

.education > .date {
    grid-area: date;
    justify-self: right;
}

@media (max-width: 500px) {
    .education > .date {
        margin: .5rem 0;
        justify-self: flex-start;
        color: var(--dark-gray);
    }
}