.aka {
    font-size: 1.5rem;
    color: #595959;
}

.avatar {
    display: none;
    width: 128px;
    position: absolute;
    border-radius: 50%;
    top: 1.5rem;
    right: 2rem;

    img {
        width: 100%;
        border-radius: 50%;
        border: 2px solid #aaa;
        box-shadow: 0 0 18px -8px;
        // Prevent displaying black background on print when using box-shadow.
        -webkit-print-color-adjust: exact;
    }

    @media print {
        display: block;
    }
}

.name > span {
    display: inline-block;
}

.sns {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}

.link {
    &:visited,
    &:hover,
    &:active {
        color: var(--black) !important;
    }

    & > ion-icon {
        font-size: var(--icon-size);
        margin: 0 .1rem;
    }
}

.address {
    margin: 0;
}
