.name > span {
    display: inline-block;
}

.sns {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}

.link:visited,
.link:hover,
.link:active {
    color: var(--black) !important;
}

.link > ion-icon {
    font-size: var(--icon-size);
    color: var(--black) !important;
    margin: 0 .1rem;
}

.address {
    margin: 0;
}
