.project {
    $width-breakpoint: 500px;
    $gap: var(--gap);
    $pink: #e661a9;

    &.chromatic {
        display: grid;
        grid-template-areas: "type title"
                             "type details";
        grid-template-columns: min-content auto;
        column-gap: $gap;
        margin-top: $gap;
        margin-left: $gap;
        max-width: calc(1200px - #{$gap});
        @media print {
            display: none;
        }

        .type {
            align-self: center;
            text-align: center;
            position: relative;
        }

        @mixin line {
            position: relative;
            margin-left: 20px;
            &::before {
                content: "";
                position: absolute;
                width: 4px;
                background-color: $pink;
                margin-left: -20px;
                top: 0;
                bottom: 0;
            }
            & > * {
                margin-left: $gap;
            }
        }

        $radius: 5px;

        .title {
            @include line;
            background-color: rgba($pink, 0.15);
            border-top-right-radius: $radius;
            border-top-left-radius: $radius;
        }

        .details {
            @include line;
            background-color: rgba($pink, 0.15);
            border-bottom-right-radius: $radius;
            border-bottom-left-radius: $radius;
            & > ul {
                margin-top: 0;
            }
        }
    }

    &.monochromatic {
        display: none;
        column-gap: 1rem;
        grid-template-areas: "title   type"
                             "details details";
        margin-bottom: $gap;
        @media print {
            display: grid;
        }
        .type p {
            justify-self: right;
            line-height: 30px;
            @media (max-width: $width-breakpoint) {
                margin: .5rem 0;
                justify-self: flex-start;
                color: var(--dark-gray);
            }
        }

        .title p {
            font-weight: var(--font-bold);
            @media (max-width: $width-breakpoint) {
                margin-bottom: 0;
            }
        }

        .details > ul {
            margin: 0;
            padding-left: calc(#{$gap} * 1.5);
            word-break: break-all;
        }
    }

    .type {
        grid-area: type;
    }

    .title {
        grid-area: title;
    }

    .details {
        grid-area: details;
    }
}