@import '../../styles/breakpoints';

.profile {
    background-color: #ebebeb;
    height: 60vh;
    display: grid;
    padding: 1rem 1rem 1rem calc(130px - 1vw);
    align-content: center;
    min-height: 270px;

    @mixin margin-breakpoint ($size) {
        $side: calc(-50vw + #{$size / 2});
        margin-left: $side;
        margin-right: $side;
    }
    @each $size in $sm, $md, $lg, $xl {
        @media (min-width: $size) {
            @include margin-breakpoint($size);
        }
    }

    & > .container {
        max-width: 1200px;
        @mixin max-width($size) {
            max-width: $size;
        }
        @each $size in $sm, $md, $lg, $xl {
            @media (min-width: $size) {
                @include max-width($size);
            }
        }
    }

    .name {
        & > span {
            display: inline-block;
        }
        .aka {
            font-size: 1.5rem;
            color: #595959;
        }
    }

    .avatar {
        display: none;
        width: 128px;
        position: absolute;
        border-radius: 50%;
        top: 1.5rem;
        right: 2rem;

        img {
            width: 100%;
            border-radius: 50%;
            border: 2px solid #aaa;
            box-shadow: 0 0 18px -8px;
            // Prevent displaying black background on print when using box-shadow.
            -webkit-print-color-adjust: exact;
        }
    }

    .address {
        margin: 0;
    }

    .sns {
        display: flex;
        align-items: center;
        margin-bottom: 9px;
    }

    .location {
        margin-left: 1rem;
        ion-icon {
            font-size: 22px;
        }
    }

    .email {
        ion-icon {
            font-size: 22px;
        }
    }
}