@import "./variables";

.timeline-container {
  display: flex;
  position: relative;
  //padding-left: $outline-width + $outline-gap;
  padding-top: $gap * 5;

  &:first-child {
    padding-top: 0;
  }

  .timeline-content {
    padding: 0 $gap;
    margin-top: $gap*2;
    margin-bottom: $gap*2;
    box-shadow: 0 0 4px rgba($black, 0.12), 0 2px 2px rgba($black, 0.08);
    position: relative;
    border-radius: 6px;
    $offset: $outline-width;
    width: 100%;
    z-index: 999;
    margin-left: calc(-#{$outline-width} - 4px);

    &.green {
      background-color: rgb(240, 249, 238);
    }
    &.blue {
      background-color: rgb(225, 219, 235);
    }
    &.yellow {
      background-color: rgb(251, 242, 234);
    }
  }

  &.overlap {
    margin-top: $gap * 2;
    margin-bottom: $gap * 2;

    .timeline-axis {
      left: -$gap;
      z-index: 999;
    }

    .timeline-content {
      width: 100%;
    }
  }
}