.experience {
    $width-breakpoint: 500px;

    display: grid;
    grid-template-areas: "title   date"
                         "details details";
    margin-bottom: var(--gap);

    & > .date {
        grid-area: date;
        justify-self: right;

        @media (max-width: $width-breakpoint) {
            margin: .5rem 0;
            justify-self: flex-start;
            color: var(--dark-gray);
        }
    }

    & > .title {
        grid-area: title;
        font-weight: var(--font-bold);

        @media (max-width: $width-breakpoint) {
            margin-bottom: 0;
        }
    }

    & > .details {
        grid-area: details;
        margin: 0;
        padding-left: calc(var(--gap) * 1.5);
    }
}

