.experiences {
    margin: 0 .5em;
    padding-bottom: 1em;
}

.experience {
    $width-breakpoint: 500px;

    display: grid;
    grid-template-areas: "title   date"
                         "details details";
    grid-row-gap: .5em;
    margin-top: 1.5em;

    @media (max-width: $width-breakpoint) {
        grid-row-gap: .25em;
        grid-template-areas: "title"
                             "date"
                             "details";
    }

    & > .date {
        grid-area: date;
        justify-self: right;
        margin: 0;
        font-size: .9em;
        line-height: 1.6em;

        @media (max-width: $width-breakpoint) {
            justify-self: left;
            color: var(--dark-gray);
        }
    }

    & > .title {
        grid-area: title;
        font-weight: var(--font-bold);
        align-self: center;
        margin: 0;

        @media (max-width: $width-breakpoint) {
            margin-bottom: 0;
        }
    }

    & > .details {
        grid-area: details;
        margin: 0;
        padding-left: calc(var(--gap) * 1.5);
    }
}

