@import '../../styles/breakpoints';

.profile {
  background-color: white;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  border-width: 0;
  padding: 0;
  margin: initial;
  height: auto;

  & > .container {
    max-width: 1200px;
    @mixin max-width($size) {
      max-width: $size;
    }
    @each $size in $sm, $md, $lg, $xl {
      @media (min-width: $size) {
        @include max-width($size);
      }
    }
  }

  .name {
    & > span {
      display: inline-block;
    }
    .aka {
      font-size: 1.5rem;
      color: #595959;
    }
  }

  .address {
    margin: 0;
  }

  .sns {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
  }

  .location {
    margin-left: 1rem;
  }
}