.skills {
    margin: 0 .5em;
    padding-bottom: 1em;

    .set-wrapper {
        margin-top: 1em;
        display: flex;
        flex-wrap: wrap;
    }

    .skill-set {
        $width-breakpoint: 500px;
        flex: 0 0 50%;
        margin-bottom: 1rem;

        @media (max-width: $width-breakpoint) {
            flex: 0 0 100%;
        }

        h3 {
            margin: 0;
            text-transform: capitalize;
        }
        ul {
            padding-left: calc(var(--gap) * 1.5);
            margin-top: .5em;
            margin-bottom: 0;
        }

        &:nth-child(odd) {
            ul {
                margin-right: .5em;
            }
        }
    }
}
